{% extends 'base.html' %}

{% block title %}Change Password{% endblock title %}

{% block content%}
<h1>Password Change</h1>

<div class="card form-container" style="width: 55%;">
  <div class="card-body">
    <p>
      Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.
    </p>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p}}
      <input type="submit" value="Change" class="btn btn-add">
    </form>
  </div>
</div>
{% endblock content%}