{% extends 'base.html' %}

{% block title %}Choose a new password{% endblock title %}

{% block content%}
<h1>Choose a new password</h1>

<div class="card form-container" style="width: 55%;">
  <div class="card-body">
    <p>Pick a password, then retype it below to confirm you typed it in correctly.</p>

    <form method="post">
      {% csrf_token %}
      {{ form.as_p}}
      <input type="submit" value="password reset confirm" class="btn btn-confirm">
    </form>
  </div>
</div>
{% endblock content%}