{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block content %}
  <div class="container">
    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore ex atque assumenda, et eligendi voluptatem mollitia repudiandae, optio minus ea veritatis natus dolor dicta officiis nulla itaque, temporibus iste officia expedita. Pariatur quasi temporibus optio commodi, natus hic nemo ducimus dolor sapiente itaque possimus qui deleniti accusantium nesciunt ipsa ex doloribus incidunt amet aliquid maiores sint, unde est? Commodi, distinctio.</h1>
  </div>
{% endblock content %}
